
label[b-p4f8cgb7ps], input[b-p4f8cgb7ps] {
    font-size: 1rem;
    text-wrap: nowrap;
    margin-top: auto 0;
}
button[b-p4f8cgb7ps] {
    background-color: blue;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    width: 75px;
    display: flex;
    justify-content: center;
}
label[b-p4f8cgb7ps] {
}

.results[b-p4f8cgb7ps] {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

input[type=number][b-p4f8cgb7ps] {
    height: 2rem;
    width: 3rem;
    text-align: right;
}

input[type=text][b-p4f8cgb7ps] {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    margin-left: 20px;
    height: 2rem;
    width: 100%;
    text-align: right;
}

/* No spin buttons */
input[b-p4f8cgb7ps]::-webkit-outer-spin-button,
input[b-p4f8cgb7ps]::-webkit-inner-spin-button, input[type=number][b-p4f8cgb7ps] {
    /* Chrome */
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: textfield;
}


@media (max-width: 1200px) {
    article[b-p4f8cgb7ps] {
        display: flex;
        flex-direction: column;
    }

    .serviceItemsArea[b-p4f8cgb7ps] {
        max-width: 100%;
    }

    .outstandingOrdersArea[b-p4f8cgb7ps] {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    article[b-p4f8cgb7ps] {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }

    .serviceItemsArea[b-p4f8cgb7ps] {
        max-width: 45%;
    }

    .outstandingOrdersArea[b-p4f8cgb7ps] {
        max-width: 45%;
    }
}