
label[b-d16xgb9098], input[b-d16xgb9098] {
    font-size: 1.25rem;
}

.results[b-d16xgb9098] {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

input[type=number][b-d16xgb9098] {
    height: 2rem;
    width: 3rem;
    text-align: right;
}
input[type=text][b-d16xgb9098] {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    margin-left: 20px;
    height: 2rem;
    width: 100%;
    text-align: right;
}

/* No spin buttons */
input[b-d16xgb9098]::-webkit-outer-spin-button,
input[b-d16xgb9098]::-webkit-inner-spin-button, input[type=number][b-d16xgb9098] {
    /* Chrome */
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: textfield;
}
