@inherits LayoutComponentBase

<MudThemeProvider />
<main>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
    </MudAppBar>
    @if (_drawerOpen)
    {
        <NavMenu />
    }
    <article>
        @Body
    </article>
</main>

@code {
    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
